################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MMBS/Form1.resx
/MMBS/Form1.en-US.resx
/MMBS/Form1.Designer.cs
/MMBS/Form1.cs
/MMBS/bin
/MMBS/bin/Release
bin/Release