@using RazorLight
@namespace MMBS_Razor.Razor_Template
@inherits TemplatePage<MmbsTemplateModelv1>
@model MmbsTemplateModelv1
<!--MMBS:240105:240105-->
@* Custom Style Script Section *@
<!--Animation CSS by Daniel Riemer-->
<style>
	@@-webkit-keyframes aitf {
		0% {
			background-position: 0% 50%;
		}

		100% {
			background-position: 50% 100%;
		}
	}
</style>
<style>
	#VIPadmin {
		background: url(https://imgur.com/u59ftm6t.jpg) repeat-y;
		background-size: cover;
		-webkit-background-clip: text !important;
		background-clip: text;
		text-shadow: 0 0 44px rgba(40, 166, 266);
		-webkit-text-fill-color: transparent;
		-webkit-animation: aitf 8s linear infinite;
		-webkit-transform: translate3d(0,0,0);
		-webkit-backface-visibility: hidden;
	}
</style>
@* Icon Section *@
<div class="separator" style="clear: both; text-align: center;">
	<a href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgN8c9YLv9hbaTrvEfBhwjlZTwFrCX1FVX0G_gATSkxbzv-ReIMXyF6ATqsWXRsX0-7Ad42goyhJRLcUAR_g9irmhRuwPo0rXLqw7siy1vaofR8YyzB-LgK-J1Ecb81AB3acNo7ZBWaSpmXYHScWE3IZ9oHZeBH08tv1mWCSHIzxi5by54iBtJCMbp9XpwD/s240/unnamed.webp" style="margin-left: 1em; margin-right: 1em;">
		<img border="0" data-original-height="240" data-original-width="240" height="200" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgN8c9YLv9hbaTrvEfBhwjlZTwFrCX1FVX0G_gATSkxbzv-ReIMXyF6ATqsWXRsX0-7Ad42goyhJRLcUAR_g9irmhRuwPo0rXLqw7siy1vaofR8YyzB-LgK-J1Ecb81AB3acNo7ZBWaSpmXYHScWE3IZ9oHZeBH08tv1mWCSHIzxi5by54iBtJCMbp9XpwD/w200-h200/unnamed.webp" width="200" />
	</a>
</div>
<div class="separator" style="clear: both; text-align: center;"><br /></div>

@* Description Content Section *@
<h3 style="text-align: left;">About this game</h3>
<div>
	<div style="text-align: justify;"><b>Gameplay:</b></div>
	<div style="text-align: justify;"><ul><li>You drop fruits onto a playing field.</li><li>Identical fruits that touch merge into a larger and more valuable fruit.</li><li>The ultimate goal is to create a giant watermelon.</li><li>The game likely follows a 2048-style merging system, where combining higher-tier fruits unlocks further progress.</li></ul></div>
	<div style="text-align: justify;"><br /></div><b>
		<div style="text-align: justify;">
			<b>Features:</b>
		</div>
	</b><div>
		<div style="text-align: justify;"><ul><li>Simple and easy-to-play controls.</li><li>Smooth and satisfying merging animations.</li><li>Refreshing explosion effects.</li><li>Boosters to help you overcome challenging situations.</li><li>Various levels with increasing difficulty.</li></ul></div><div style="text-align: justify;"><br /></div><b>
			<div style="text-align: justify;">
				<b>Popularity:</b>
			</div>
		</b>
	</div><div>
		<div style="text-align: justify;"><ul><li>The game seems to be quite popular, having received positive reviews and downloads on both the App Store and Google Play.</li><li>It gained popularity in 2023 as a relaxing and enjoyable mini-game.</li></ul></div><div style="text-align: justify;"><br /></div><b>
			<div style="text-align: justify;">
				<b>Availability:</b>
			</div>
		</b>
	</div><div>
		<div style="text-align: justify;">Watermelon Merge: Fruit Drop is available for free on both iOS and Android devices.</div><div style="text-align: justify;"><br /></div><b>
			<div style="text-align: justify;">
				<b>Additional Notes:</b>
			</div>
		</b>
	</div><div><div style="text-align: justify;">There may be other games with similar names or package names, so it's important to double-check before downloading.</div><div style="text-align: justify;">The game might have in-app purchases for additional features or boosters.</div></div><div>
		<br />
	</div>
</div>

@*Image & Video Section*@
<h3 style="text-align: left;">In-Game Images</h3>
<div>
	<div class="separator" style="clear: both; text-align: center;"><a href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEi_mjiSS2H8dQWeUC2S-jwS7zt6OPsj89Lc4s83_d-y04z2x1mgcukWvxvmJPTb4fRqhOa5Z-HoPL1VmOzuzpYrlhp7eU9nbFKfzAW6hEjAsW8SwkSj8i1ImGhBgqyaD0ppeaQszwEkYgtksYfed4z-aszDrd565iKqVE4n0IPX2y5vYF9XXsfUCxt5EfID/s1440/unnamed_3.webp" style="margin-left: 1em; margin-right: 1em;"><img border="0" data-original-height="1440" data-original-width="810" height="640" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEi_mjiSS2H8dQWeUC2S-jwS7zt6OPsj89Lc4s83_d-y04z2x1mgcukWvxvmJPTb4fRqhOa5Z-HoPL1VmOzuzpYrlhp7eU9nbFKfzAW6hEjAsW8SwkSj8i1ImGhBgqyaD0ppeaQszwEkYgtksYfed4z-aszDrd565iKqVE4n0IPX2y5vYF9XXsfUCxt5EfID/w362-h640/unnamed_3.webp" width="362" /></a></div>
	<div class="separator" style="clear: both; text-align: center;"><a href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEihWy183K_qPnuJq2g3ktaEHN05OAGpL8drmXNxJRjrFSSpqbowZWFUks7IhEriG6dX6MlsFXIKU-01Y4PcqXEflL203k26ri9ku2OLQfQx2UHLwzC1DT8MQ3NgzIY68tQhF6Y7Ssl2OQjK_vhlx8nOqStYonP9ybnL0PYpYnOWoLeUWjVj_3LQasIdxYsR/s1440/unnamed_4.webp" style="margin-left: 1em; margin-right: 1em;"><img border="0" data-original-height="1440" data-original-width="810" height="640" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEihWy183K_qPnuJq2g3ktaEHN05OAGpL8drmXNxJRjrFSSpqbowZWFUks7IhEriG6dX6MlsFXIKU-01Y4PcqXEflL203k26ri9ku2OLQfQx2UHLwzC1DT8MQ3NgzIY68tQhF6Y7Ssl2OQjK_vhlx8nOqStYonP9ybnL0PYpYnOWoLeUWjVj_3LQasIdxYsR/w360-h640/unnamed_4.webp" width="360" /></a></div><div class="separator" style="clear: both; text-align: center;"><a href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhz88Ywz_XFfyvIvWRRAJIno2lRryVVP26Vz1fIcV180BjmuAZ_87CuS4bfp3i2EXD_iyNk24NebfM1eVwLQJ0z-JVId0EdaMINOPkrVuTvzJ5B0MvgiFbRbgxRPMIh2Dtnkxe5u9SKBhtvb2eqgh5W4MmTVeZ_BQFqqC0Ii1dPOSEkpwAEMUZAbqQ3fvah/s1440/unnamed_5.webp" style="margin-left: 1em; margin-right: 1em;"><img border="0" data-original-height="1440" data-original-width="810" height="640" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhz88Ywz_XFfyvIvWRRAJIno2lRryVVP26Vz1fIcV180BjmuAZ_87CuS4bfp3i2EXD_iyNk24NebfM1eVwLQJ0z-JVId0EdaMINOPkrVuTvzJ5B0MvgiFbRbgxRPMIh2Dtnkxe5u9SKBhtvb2eqgh5W4MmTVeZ_BQFqqC0Ii1dPOSEkpwAEMUZAbqQ3fvah/w360-h640/unnamed_5.webp" width="360" /></a></div><div class="separator" style="clear: both; text-align: center;"><a href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEh21zqZJabJS6UPeDeLv-V8GYgTEoJwR1eUWfiBbdgpOPVnSF7oHz9D_UA7nhfGPhl7GqSmqotea-iZpaNQcHsrm_VIvcQ3mJgPvsRMVYvUNEFB0nCiFvnk_cEITahSpSP_sPv1LTY2kje9y928BQN4tPljIRvQb9dSzOzAJfSlx1D60KUV1VuKZcU2PVC2/s1440/unnamed_6.webp" style="margin-left: 1em; margin-right: 1em;"><img border="0" data-original-height="1440" data-original-width="810" height="640" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEh21zqZJabJS6UPeDeLv-V8GYgTEoJwR1eUWfiBbdgpOPVnSF7oHz9D_UA7nhfGPhl7GqSmqotea-iZpaNQcHsrm_VIvcQ3mJgPvsRMVYvUNEFB0nCiFvnk_cEITahSpSP_sPv1LTY2kje9y928BQN4tPljIRvQb9dSzOzAJfSlx1D60KUV1VuKZcU2PVC2/w360-h640/unnamed_6.webp" width="360" /></a></div><div class="separator" style="clear: both; text-align: center;"><a href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjmT4MBa9UhF4o7jcMbH_1cjlavBMGHubRqTAW-YXImaDNI6eonlBlC4uXLWxVpEJp4nHPaHEbc3oUeRfIeldoycgLZ67D0aJaEg6RCxgOvi-NaSmSKZkWuMTn_6a8OkOveWcKuqzVTe4-Yx0nSPjQTKoTxX4kcFl6ppj68SJliZT4pNTMsBjouMyfL9hcV/s1440/unnamed_7.webp" style="margin-left: 1em; margin-right: 1em;"><img border="0" data-original-height="1440" data-original-width="810" height="640" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjmT4MBa9UhF4o7jcMbH_1cjlavBMGHubRqTAW-YXImaDNI6eonlBlC4uXLWxVpEJp4nHPaHEbc3oUeRfIeldoycgLZ67D0aJaEg6RCxgOvi-NaSmSKZkWuMTn_6a8OkOveWcKuqzVTe4-Yx0nSPjQTKoTxX4kcFl6ppj68SJliZT4pNTMsBjouMyfL9hcV/w360-h640/unnamed_7.webp" width="360" /></a></div><div class="separator" style="clear: both; text-align: center;"><a href="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEg2Z3s0Gs0RYnYxqqhqCqESDW7Wh11MFi_Nsre_NsB8c2Oin-wRKJDX4QHTbU0UxPFnDCz8UAdsCzjPsuN3lR-4JRNzX-thMWnhG-uuTYPXAxfG-wKCcCxYjbddQEYGbfNz8I3fzdAwXyQ7xgGKm-TxwwVocPkhER2Sn83ni3d4qnepBKSz5yGbl8tk_FRc/s1440/unnamed_8.webp" style="margin-left: 1em; margin-right: 1em;"><img border="0" data-original-height="1440" data-original-width="810" height="640" src="https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEg2Z3s0Gs0RYnYxqqhqCqESDW7Wh11MFi_Nsre_NsB8c2Oin-wRKJDX4QHTbU0UxPFnDCz8UAdsCzjPsuN3lR-4JRNzX-thMWnhG-uuTYPXAxfG-wKCcCxYjbddQEYGbfNz8I3fzdAwXyQ7xgGKm-TxwwVocPkhER2Sn83ni3d4qnepBKSz5yGbl8tk_FRc/w360-h640/unnamed_8.webp" width="360" /></a></div>
</div>
<div class="separator" style="clear: both; text-align: center;"><br /></div>

@*Meta Section*@
<h3>Mod Info</h3>
<div>
	<div>
		<ul>
			<li>Package:&nbsp;<a href="https://play.google.com/store/apps/details?id=com.watermelon.merge.fruit" rel="nofollow" target="_blank"><span style="color: #04ff00;"><b>com.watermelon.merge.fruit</b></span></a></li>
			<li>Requires: Android 7.0+</li>
			<li>Version: 1.21</li>
			<li>
				Mod feature(s):
				<ul>
					<li>Unlimited coins.</li>
					<li>No Ads.</li>
				</ul>
			</li>
			<li>File size: 91.25 MB </li>
		</ul>
	</div>
</div>
<div class="separator" style="clear: both; text-align: center;"><br /></div>

@*Download Section*@
<div id="wrap">
	<div class="buttons">
		<a rel="noopener noreferrer" href="https://www.offlinemods.net/p/redirecting.html?url=aHR0cHM6Ly9tb2RzZmlyZS5jb20veDRDUmE4UzJtNEI5MzNE" target="_blank">
			<button class="btn-hover color-9">Download</button>
		</a>
	</div>
</div>
<div class="separator" style="clear: both; text-align: center;"><br /></div>

@*Credit Section*@
<h3 style="text-align: center;">
	<span style="color: red;">Credit to&nbsp;<span id="VIPadmin" style="color: #28a6e2;">OfflineMods.Net</span></span>
</h3>
<h3 style="text-align: center;">
	<span style="color: red;">Don't change the toast to make this yours. Thanks!</span>
</h3>